@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

$directory-card-text-color : #837c7c;
$directory-title-color : #6189be;


.CategoriesCard {


  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.10);
  padding: 0;

  display: flex;
  flex-flow: column;

  color: darken($directory-card-text-color, 20%);


  .row-container {
    max-height: 1500px;
    transition: .4s;

  }



  .row-wrapper {
    max-height: 5555px;
    transition: .4s;
    // line-height: 3rem;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    height:3rem;
    
    &.marked {
      background-color: rgba(0, 0, 0, .075);
    }

    &.closed .icon.open-folder {
      display: none;
    }

    &:not(.closed) .icon.closed-folder {
      display: none;
    }


    &>.category-details{
      display:flex;
      align-items: center;
      .icon {
        color: $directory-card-text-color;
        font-size: 1.3rem;
      }

      


      &>.count{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: lighten(rgba($directory-title-color,.8),10%);
        border: 1px solid;
        border-radius: 50%;
        width:1.3rem;
        height:1.3rem;
        font-size: .4rem;
        color:#fff;
        transform: translateX(.6rem) translateY(-.6rem);
      }
  

      .dirname{
        color: darken($directory-title-color, 20%);
        font-size: 1.1rem;
        font-weight: 400;
        padding-left: .56rem;
        padding-right:1.2rem;
        overflow-x: hidden;
        text-overflow: ellipsis;        
        overflow:hidden;
        white-space: nowrap;

        &:hover,
        &.bold {
          transform: scale(1.2);
          color: darken($directory-title-color, 40%);
        }

        // &:hover {
        //   max-width: 100%;
        //   z-index: 100;
        // }

        &.disabled{
          pointer-events: none;
        }

      }



      .icon-sm{
        font-size: 1.2rem;
        margin-right:.4rem;
        cursor:pointer;
        &:hover{
          color:darken($directory-card-text-color,15%);
        }
      }
      .add-icon{
      }

      .delete-icon{
      }

    }





    &>.details {
      position: absolute;
      right: 3.5rem;
      display: flex;
      align-items: center;
      font-size: .8rem;
      color: #837c7c;
    }

    &.closed~.row-container {
      max-height: 0;
      opacity: 0;
      // overflow: hidden;
      border: 0;
    }


    &>.dropdown {
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      // pointer-events: none;
      cursor: pointer;
    }

    &:hover>.dropdown>.dropdown-icon {
      background-color: rgba(0, 0, 100, 0.08);

    }

    &>.dropdown>.dropdown-icon {
      // pointer-events: none;
      z-index: 10;
      transform: rotate(0deg);
      font-size: 1.7rem;
      border-radius: 50%;
      transition: .4s;
    }

    &.closed>.dropdown>.dropdown-icon {
      transform: rotate(-90deg);
    }


  }

  .row-container>.row-container {
    border-top: 1px solid rgba(0, 0, 0, .125);
  }






}