@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

$topbar-color : rgba(250,250,250,0.8);
$topbar-title-color : #6189be;
$topbar-text-color : #837c7c;

.TopFullBar {

  position:fixed;
  top:0;
  right:0;  
  left:0;

  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns content to the left */
  color:$topbar-text-color;

  padding: 0 1.5rem;
  font-size: 1.2rem;
  width:100%;
  z-index:5;
  height:$topbar-height;
  box-shadow: 0 .8px 0 rgba(0,0,0,0.09); /* X-offset, Y-offset, blur radius, color */
  background-color: $topbar-color;
  font-weight: 600; 
  position:relative;

  .home-icon{
    width:auto !important;
    display:block;
    right : 1rem;
    height: 1.6rem;
    width: 100%;
    color:$topbar-text-color;
    cursor: pointer;
    &:hover{
      color:darken($topbar-text-color,20%);
    }
  }

  .title{
    white-space: nowrap;
    color: $topbar-title-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}