@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

$directory-card-text-color : #837c7c;
$directory-title-color : #6189be;


.CategoriesCard {

  .row-wrapper {

  
    &.marked {
      background-color: rgba(0, 0, 0, .075);
    }

    &.closed .icon.open-folder {
      display: none;
    }

    &:not(.closed) .icon.closed-folder {
      display: none;
    }

    &>.category-details{
      display:flex;
      align-items: center;
      height:100%;
      .icon {
        color: $directory-card-text-color;
        font-size: 1.3rem;
      }

    
      &>.count{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: lighten(rgba($directory-title-color,.8),10%);
        border: 1px solid;
        border-radius: 50%;
        width:1.4rem;
        height:1.4rem;
        font-size: .7rem;
        color:#fff;
        transform: translateX(.6rem) translateY(-.6rem);
      }
  

      .dirname{

        color: darken($directory-title-color, 20%);
        font-size: 1.1rem;
        font-weight: 400;
        margin-left: .2rem;
        margin-right:1.1rem;

        padding:0 0.5rem;
        overflow-x: hidden;
        text-overflow: ellipsis;        
        overflow:hidden;
        white-space: nowrap;

        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;

     

        &:hover,
        &.bold {          
          color: darken($directory-title-color, 70%);
        }
      }

      .icon-sm{
        font-size: 1.2rem;
        margin-right:.4rem;
        cursor:pointer;
        &:hover{
          color:darken($directory-card-text-color,15%);
        }
      }

    }





    &>.details {
      position: absolute;
      right: 3.5rem;
      display: flex;
      align-items: center;
      font-size: .8rem;
      color: #837c7c;
    }



    &.closed~.rows-container {
      .row-wrapper{
        // max-height: 0;
        opacity: 0;
        transition:.3s;
        content-visibility: hidden;
        margin-bottom:-3rem;
        border: none !important;;

      }
      border: none !important;;
    }


    &>.dropdown {
      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &:hover>.dropdown>.dropdown-icon {
      background-color: rgba(0, 0, 100, 0.08);

    }

    &>.dropdown>.dropdown-icon {
      z-index: 10;
      transform: rotate(0deg);
      font-size: 1.7rem;
      border-radius: 50%;
      transition: transform .4s;
      
    }

    &.closed>.dropdown>.dropdown-icon {
      transform: rotate(-90deg);
    }


  }



}