.ScrollToTop{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  bottom: 1rem;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
  color: #6189be;
  background: none;
  border-radius: 50px;
  border: none;
  opacity: 0.6;
  transition: .2s;

  &:hover, &:active{
    color : darken(#6189be,15%);
  }
}