@import '../assets/styles/variables';
@import '../assets/styles/mixins';


$topbar-color : #fff;
$topbar-title-color : #6189be;
$topbar-text-color : #837c7c;

.TopBar {
  display: flex;
  align-items: center;
  position:fixed;
  color:$topbar-text-color;
  
  left:0;
  padding: 0 1.5rem;
  font-size: 1.2rem;
  width:100%;
  top:0;
  right:0;

  z-index:5;

  height:$topbar-height;
  box-shadow: 0 .8px 0 rgba(0,0,0,0.09); /* X-offset, Y-offset, blur radius, color */
  background-color: $topbar-color;
  font-weight: 600; 


  .title{
    color: $topbar-title-color;
  }

  .search{
    cursor:pointer;
    .search--icon{
      height: 1.6rem;
      width: 100%;
      color:$topbar-text-color;
    }
  }

  @include desktop {
    left:$sidebar-width;
    padding: 0 2.5rem;
    justify-content: start;
    width:auto;
    font-weight: 400;
    font-size: 1rem;
    .search{
      display:block;
      position:absolute;
      right:6rem;

    }
  }

  @include mobile-and-tablet {
    transition: left .4s ease;
    justify-content: space-between;
    &.active{
      left : $sidebar-width;
    }
  }
}