@import '../assets/styles/variables';
@import '../assets/styles/mixins';


$topbar-color : #fff;


.TopBar {
  position:fixed;

  width:100%;
  top:0;
  right : 0;
  left:0;

  z-index:5;

  height:$topbar-height;
  box-shadow: 0 .8px 0 rgba(0,0,0,0.09); /* X-offset, Y-offset, blur radius, color */
  background-color: $topbar-color;

  padding: 0 2.5rem;

  @include mobile-and-tablet {
    display: flex;
    width:auto;
    align-items: center;
    padding: 0 1.5rem;
    transition: left .4s ease;
    &.active{
      left : $sidebar-width;
    }
  }
}