

$btn-color :  #53a8b6; 


.Paginator{
  position: relative;
  display: flex;
  justify-content: center;

  .page-btn{

    &.disabled{
      pointer-events: none;
    }

    // background-color: orange;
    border-radius: 50%;
    background-color: rgba($btn-color,.2);
    .icon{
      color:$btn-color;      
      font-size: 2.4rem;
    }
  }

  .newer-page-btn{

  }

  .older-page-btn{

  }
}