@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');



::-webkit-scrollbar {

  width: 10px; // Slimmer width
}

::-webkit-scrollbar-track {
  background: #f1f1f1; // Track color
}

::-webkit-scrollbar-thumb {
  background: lighten(#888,25%); // Thumb color
  border-radius: 10px; // Rounded corners on the thumb

  &:hover {
    background: lighten(#555,25%); // Thumb color on hover
  }
}



a {
  text-decoration: none;
  color: darkgray;

  &:hover{
    color: darken(darkgray,30%);
  }
}