@import '../../assets/styles/variables';
$btn-color : #53a8b6;
$delete-btn-color : #fd5959;

.Post {

  .main {
    .post-metadata {

      .meta {
        font-size: .75rem;

        label {
          color: rgba(100, 100, 100, .7);
          margin-right: .3rem;
        }


        &.writer {
          display: flex;
          justify-content: space-between;
        }

        time {
          &::after {
            content: '•';
            margin-left: 5px;
            margin-right: 5px;
          }

          &:last-child::after {
            content: '';
          }
        }

        margin-top:.6rem;
      }




    }
  }


  .btn-group {


    .btn {


      &::before {
        display: flex;
        font-size: .9rem;
        transform: translateY(-.8rem);
      }


      span {
        color: darken(#53a8b6, 20%);
        font-size: 1.2rem;
        font-weight: 600;
        transition: .4s ease-out;
      }


      &.disabled {
        border: 1px solid rgba($dark-text, .2);
        pointer-events: none;

        span {
          color: rgba($dark-text, .2);
        }
      }


    }

    .btn-prev {
      border-top-left-radius: .8rem;
      border-bottom-left-radius: .8rem;

      &::before {
        content: "PREV";
      }
    }

    .btn-next {
      border-top-right-radius: .8rem;
      border-bottom-right-radius: .8rem;

      &::before {
        content: "NEXT";
      }
    }
  }

}